################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02 - Your First EF Core Application/PartyInvites/.vs/PartyInvites
